{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier", "react"],
    "rules": {
      "prettier/prettier": ["error"]
    },
    "env": {
      "es6": true,
      "browser": true
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
      }
    }
}